#files
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear

# Folders
dist/
war/WEB-INF/classes
gwt/
.gwt/
war/WEB-INF/lib/.DS_Store
/dist
war/.DS_Store
gwt-unitCache/
war/WEB-INF/.DS_Store
war/WEB-INF/lib/gwt-servlet.jar
*.bak

